.App {
  text-align: center;
  background-color: #0b0c10;
  color: #66fcf1;
}
/* color: #0b0c10;  background*/
/* color: #1f2833; */
/* color: #c5c6c7; */
/* color: #66fcf1; */
/* color: #45a29e; */

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40vmin;
  pointer-events: none;
}

.icon{
  font-size: 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
.icon a{
  padding: 20px;
  color: #66fcf1;
  opacity: .8;

}

.App-header {
  background-image: url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  min-height: 93.8vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: black; */
  /* background-color: grey; */

  background-attachment: fixed;
}



.logo h1{
  font-size: 2em;
  text-decoration: overline underline;
  color: black;
  text-shadow: 2px 1px 4px #66fcf1;
  /* opacity: .2; */

}


.projectGroup{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
}

.projectGroup h1{
  margin: auto;
}
.projectGroup img{
  position: relative;
   width: 100%;

   height: 100%;
}

@media only screen and (max-width: 550px) {
  .projectGroup{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: none;
  }
}

@media only screen and (max-width: 804px) {

  .Bio{
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .Bio iframe{
    min-width: 100vw;
  }
  .Bio .mePic{
    /* max-width: 100vw; */
    height: auto;
  }
}

.module {
  scroll-behavior: [ auto | smooth ];
}

.Bio{
 /* border-style: solid;
 border-width: 5px; */
/*  height: auto;
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
 */
 color: #66fcf1;
  min-height: 50vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Bio .textBio{

  /* margin: auto; */
  /* padding: 5%; */
  /* display: flex; */
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;
      /* flex: 1 1; */
      padding: 20px;
      /* max-width: 50vw; */

}

.Bio iframe{
  /* min-width: 100vw; */
  /* max-width: auto; */
  /* height: auto; */
  /* padding: 5%; */
}

.Bio .mePic{
  /* padding-bottom: 5px; */
  /* padding-left: 2.5%; */
  /* padding-right: 2.5%; */
    /* margin: auto; */
    max-width: 100vw;
  /* height: 400; */
}

.App-link {
  color: #61dafb;
}


.content{

  margin-bottom: 4vh;
}
.content h3{
  margin-bottom: 4vh;

}


.footer{
 bottom: 0;
 width: 100vw;
 height: 8vh;
 color: white;
 background-color: black;
 opacity: .8;
 margin: auto;
 padding-top:2vh;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.paulBox {
  padding: 2%;
}
