.App {
  text-align: center;
  background-color: #FFE1A8;
  color: #472D30;
}
/* color: #0b0c10;  background*/
/* color: #1f2833; */
/* color: #c5c6c7; */
/* color: #F1F2F2; */
/* color: #45a29e; */


.icon{
  font-size: 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
.icon a{
  padding: 20px;
  color: #472D30;
  opacity: .8;

}

.App-header {
  background-image: url("https://images8.alphacoders.com/654/thumb-1920-654629.jpg");
  min-height: 93.8vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: black; */
  /* background-color: grey; */

  background-attachment: fixed;
}

.logo {

  z-index: 2;

}

.logo h1{
  font-size: 2.4em;
  text-decoration: overline underline;
  color: black;
  text-shadow: 2px 1px 4px #C9CBA3;
  z-index: 2;

}


.projectGroup{
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.projectCard img{
  position: relative;
   width: 100%;
   height: auto;
}

.projectCard{
  margin-top: 4vh;
  margin-bottom: 4vh;

  margin-left: 20vw;
  margin-right: 20vw;

  padding: 5vh;

  background-color: #C9CBA3;
  border-radius: 2%;
  border-style: solid;
  border-width: 2%;
  border-color: #723D46;

  color: #723D46;

  max-width: 1000px;
  /* margin-left: auto;
  margin-right: auto; */

transition: all 0.28s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.04, 1.04);
}




@media only screen and (max-width: 804px) {
  .icon{
    font-size: 1.9em;
  }
  .logo h1{
    font-size: 2em;
  }

  .Bio{
    /* padding: 1%; */
    flex-direction: column;
    margin: auto;
    align-items: center;
  }



  .weirdBackground{
    Visibility: hidden;
  }

  .projectGroup{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 0%;
    margin-right: 0%;
  }
  .projectCard{
    margin: 5vw;
    padding: 3vw;
    opacity: 1;
  }

}

/* .module {
  scroll-behavior: [ auto | smooth ];
} */

.Bio{
  /* background-color: red; */
  color: #472D30;
  min-height: 50vh;
  width: 100%;
  /* min-width: 80%; */
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;
  flex-direction: row;
}

.Bio .textBio{
  max-width: 40vw;
}

.paulBox {
  padding: 2%;
  max-width: 100vw;
  transition: all 0.28s ease-in-out;
}

.paulBox:hover {
  transform: scale(1.04, 1.04);
}



.App-link {
  color: #9EC1D5;
}


.content{
  margin-bottom: 4vh;
}
.content h3{
  margin-bottom: 4vh;
}


.footer{
  bottom: 0;
  width: 100vw;
  color: #FFE1A8;
  background-color: #472D30;
  margin: 0 auto;
  padding:2%;
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;
}

.footInfo{
  padding-left: 2%;
  padding-right: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.contactInfo{
  display: grid;
  grid-template-columns: auto 55%;
  padding: 5%;
}

.grid-item {
  padding: 2%;
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 804px){

  .grid-item {
    padding: 2%;
    font-size: 1.2em
  }
}

.logoStuf{
  z-index: 1;
}

.weirdBackground {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  padding-bottom: 7vh;

}
