
ul {
  z-index: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #723D46;
  opacity: .8;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 5vh;
}

li {
  z-index: 2;
  float: right;
  font-size: 1.4em;
}
li.name {
  z-index: 2;
  float: left;
}



@media only screen and (max-width: 550px) {
  li {
    float: inherit;
  }
  li.name {
    float: inherit;
  }
  ul {
    position: relative;
  }
}


li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFE1A8;
}

li a:hover {
  background-color: #FFE1A8;
  color: #723D46;
}

.active {
  background-color: #FFE1A8;
}
