.sideCon::before{
  content: "";
  display: block;
  width: 2px;
  height: 15vh;
  background-color: #472D30;
  margin: 0px auto;
}

.sideCon{
  width: 130px;
  opacity: .8;
  padding-top: 15vh;
  align-items: center;
}

.sideCon::after{
  content: "";
    display: block;
    width: 2px;
    height: 15vh;
    background-color: #472D30;
    margin: 0px auto;
}


.sideCon a{
  font-size: 2em;
  /* z-index: 3; */
  display: block;
  padding: 10%;
  color: #472D30;
  opacity: .8;
}



.outSideCon{
  width: 130px;
  max-height: 0;
  z-index: 0;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}





@media only screen and (max-width: 804px) {
  .sideCon{
    display: none;
  }

  .Bio .textBio{
    max-width: 90vw;
  }
}
