
.sideCon{

  float: left;
  width: 130px;
  z-index: 3;
  overflow: none;
  opacity: .8;
  position: -webkit-sticky;
  /* -webkit-transform: translateY(-50);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%); */

  position: sticky;
  top: 0;
  padding-top: 10vh;



  /* position: fixed;
 top: 20%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
 z-index: 3 */
}


.sideCon a{
  font-size: 2em;

  display: block;
  padding: 10%;
  color: #472D30;
  opacity: .8;
}


@media only screen and (max-width: 804px) {
  .sideCon{
    display: none;
  }

  .Bio .textBio{
    max-width: 90vw;
  }
}
